doctype html
html(lang="en", ng-app="appicenter")
  head
    link(rel="stylesheet", href="style.css")
    script(src="bundle.js")
  body(ng-controller="DashboardCtrl")
    div.container
      div.col-lg-12
        h1 Earthquakes Dashboard
        p meow {{meow}}
        p fb {{fb}}
