div.container-fluid
  div.row
    div.col-md-3
      h1 Login
      form(ng-submit="login()")
        div.form-group
          input.form-control(type="email", ng-model="email", placeholder="Email")
        div.form-group
          input.form-control(type="password", ng-model="password", placeholder="Password")
        div.form-group
          button.btn.btn-primary.form-control(ng-click="login()") Login
