div.container-fluid
  div.row
    div.col-lg-12
      p {{scoreboard}}


      div(ng-if="scoreboard.current_view.id == 'auction'")
        h1 Auction


      div(ng-if="scoreboard.current_view.id == 'instagram'")
        h1 Instagram
