include partials/navigation

div.container-fluid
  div.row
    div.col-lg-12
      h1 Scoreboard Controller1
      h2 Currently displaying: <span>{{current_view.name}}</span>

      div.btn-group
        label.btn.btn-default(ng-repeat="view in views",ng-click="$parent.current_view=view",ng-class="{active:$parent.current_view.id==view.id}") {{view.name}}



      h2 Instagram Photos
      ul
        li(ng-repeat="photo in photos")
          img(src="{{photo}}",ng-click="$parent.current_photo = photo",width="300")
