include partials/admin-navigation

div.container-fluid
  div.row
    div.col-lg-12
      h1 Scoreboard Control

      //button.btn.btn-primary(ng-click="show_preview = !show_preview") Preview output
      //iframe(src="/#/admin/scoreboard", width="600px", height="400px")

      h3 Currently displaying:&nbsp;
        div.btn-group
          button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") {{current_view.name}} <span class="caret"></span>
          ul.dropdown-menu
            li(ng-repeat="view in views", ng-click="$parent.current_view=view", ng-class="{active:$parent.current_view.id==view.id}")
              a {{view.name}}


  div.row
    div.col-lg-12
      div.panel.panel-default
        div.panel-heading Auction Settings
        div.panel-body
          p meow






  div.row
    div.col-lg-12
      div.media
        div.pull-left
          img.media-object(src="{{current_photo.images.low_resolution.url}}")
        div.media-body
          h2 Current Image
          p {{current_photo.caption.from.username}}
          p {{current_photo.caption.text}}
          p(am-time-ago="current_photo.caption.created_time" am-preprocess="unix")

      div.row
        h2 Instagram Feed
        div.row.feed
          div.item.dn-fade-up(ng-repeat="(key,media) in photos | orderBy:key",ng-class="{selected:$parent.current_photo.id == media.id}")
            p: img(src="{{media.images.thumbnail.url}}")
            div
              p {{media.caption.text}}
              p {{media.caption.from.username}}
              button.btn.btn-default.btn(ng-click="$parent.current_photo = media",ng-show="$parent.current_photo.id != media.id")
                span.glyphicon.glyphicon-star
                |&nbsp;Set Image
                
