div.container-fluid
  div.row
    div.col-lg-12


      div(ng-if="scoreboard.current_view.id == 'auction'")
        h1 Auction


      div(ng-if="scoreboard.current_view.id == 'instagram'")
        h1 Instagram
        div.row
          span {{scoreboard.current_photo.caption.from.username}}
          img(src="{{scoreboard.current_photo.caption.from.profile_picture}}")
        div.row
          h3 {{scoreboard.current_photo.caption.text}}
            span(am-time-ago="scoreboard.current_photo.caption.created_time" am-preprocess="unix")
        div.row
          img(src="{{scoreboard.current_photo.images.standard_resolution.url}}")
        div.row
          