div.scoreboard
  
  div.info.dn-fade(ng-show="scoreboard.current_view.id == 'auction'") CHARITY AUCTION
  
  div.content.dn-fade-left-big(ng-show="scoreboard.current_view.id == 'auction'")
    div.block.auction
      img(ng-src="{{auction.image}}")

  div.details.dn-fade-up(ng-show="scoreboard.current_view.id == 'auction'")
    div
      ul.list-unstyled
        li: h1 All proceeds benefit {{auction.charity}}!
        li: img(ng-src="{{auction.charity_image}}")
        li: h1 {{auction.name}}

    div.bidding
      div.row.price
        div(ng-if="status == 0")
          ${{auction.current_price}} <small>starting bid</small>
        div(ng-if="status == 1")
          ${{auction.current_price}} <small>current bid</small>
        div(ng-if="status == 2")
          ${{auction.current_price}} <small>winning bid</small>
      div.row.status
        div(ng-if="status == 0") Bidding is about to begin!
        div(ng-if="status == 1")
          div.progress.progress-striped.active
            div.progress-bar(ng-style="{width: progress.percent}")
          {{progress.time_remaining}} seconds remaining
        div(ng-if="status == 2") Bidding has ended.



  div.info.dn-fade(ng-show="scoreboard.current_view.id == 'instagram'") FAN SPOTLIGHT

  div.content
    div.dn-fade-left-big(ng-show="scoreboard.current_view.id == 'instagram'")
      div.instagram.block
        div.media
          img.profile-img.pull-left(ng-src="{{scoreboard.current_photo.caption.from.profile_picture}}")
          p.profile-name {{scoreboard.current_photo.caption.from.username}}
          p(am-time-ago="scoreboard.current_photo.caption.created_time" am-preprocess="unix")
        
        h3 {{scoreboard.current_photo.caption.text}}
        
        img(ng-src="{{scoreboard.current_photo.images.standard_resolution.url}}")

    div.details.dn-fade-up(ng-show="scoreboard.current_view.id == 'instagram'")
      div: h1 Post a photo with hashtag #Quakes74 on Instagram
      