include partials/admin-navigation

div.container-fluid
  div.row
    div.col-lg-12
      h1 Scoreboard Control

      //button.btn.btn-primary(ng-click="show_preview = !show_preview") Preview output
      //iframe(src="/#/admin/scoreboard", width="600px", height="400px")

      h3 Currently displaying:&nbsp;
        div.btn-group
          button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") {{current_view.name}} <span class="caret"></span>
          ul.dropdown-menu
            li(ng-repeat="view in views", ng-click="$parent.current_view=view", ng-class="{active:$parent.current_view.id==view.id}")
              a {{view.name}}


  div.row
    div.col-lg-12
      div.panel.panel-default
        div.panel-heading Auction Settings
        div.panel-body
          table.table.table-hover
            thead
              //th Id
              th Displaying?
              th Item
              th Charity
              th Image
              th In Progress?
              th Time Remaining
              th Starting Price
              th Current Price
              th Actions
            tbody
              tr(ng-repeat="auction in auctions | orderByPriority | reverse", ng-class="{success: inProgress(auction)}")
                //td {{auction.$id}}
                td {{auction.$id == current_auction | boolean}}
                td {{auction.name}}
                td {{auction.charity}}
                td: img.mini-pic(ng-src="{{auction.image}}")
                td {{inProgress(auction) | boolean}}
                td {{timeRemaining(auction) | zeroToDash}} sec
                td ${{auction.start_price}}
                td ${{auction.current_price}}
                td
                  div.btn-group
                    button.btn.btn-primary.btn-xs(ng-click="displayAuction(auction)") Display
                    button.btn.btn-success.btn-xs(ng-click="startAuction(auction)") Start
                    button.btn.btn-danger.btn-xs Stop






  div.row
    div.col-lg-12
      div.media
        div.pull-left
          img.media-object(ng-src="{{current_photo.images.low_resolution.url}}")
        div.media-body
          h2 Current Image
          p {{current_photo.caption.from.username}}
          p {{current_photo.caption.text}}
          p(am-time-ago="current_photo.caption.created_time" am-preprocess="unix")

      div.row
        h2 Instagram Feed
        div.row.feed
          div.item(ng-repeat="(key,media) in photos | orderBy:key",ng-class="{selected:$parent.current_photo.id == media.id}")
            p: img(ng-src="{{media.images.thumbnail.url}}")
            div
              p {{media.caption.text}}
              p {{media.caption.from.username}}
              button.btn.btn-default.btn(ng-click="$parent.current_photo = media",ng-show="$parent.current_photo.id != media.id")
                span.glyphicon.glyphicon-star
                |&nbsp;Set Image
                
