include partials/navigation

div.container-fluid
  div.row
    div.col-lg-12
      h1 Scoreboard Controller1
      h2 Currently displaying: <span>{{current_view.name}}</span>

      div.btn-group
        label.btn.btn-default(ng-repeat="view in views",ng-click="$parent.current_view=view",ng-class="{active:$parent.current_view.id==view.id}") {{view.name}}

      
      div.media
        div.pull-left
          img.media-object(src="{{current_photo.images.low_resolution.url}}")
        div.media-body
          h2 Current Image
          p {{current_photo.caption.from.username}}
          p {{current_photo.caption.text}}
          p(am-time-ago="current_photo.caption.created_time" am-preprocess="unix")
          
      div.row
        h2 Instagram Feed
        div.row.feed
          div.item.dn-fade-up(ng-repeat="(key,media) in photos | orderBy:key")
            div: img(src="{{media.images.thumbnail.url}}",ng-click="$parent.current_photo = media")
            div
              button.btn.btn-default.btn
                span yolo
