div.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#/") Appicenter Admin
    div.navbar-collapse.collapse#navbar
      ul.nav.navbar-nav
        li
          a(href="#/") Home
        li
          a(href="#/admin") Admin Home
        li
          a(href="#/admin/scoreboard") Scoreboard
        li
          a(href="#/admin/scoreboard-controller") Scoreboard Control
        li
          a(href="#/admin/auctions") Auctions
