div.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#/") Appicenter
    div.navbar-collapse.collapse#navbar
      ul.nav.navbar-nav
        li
          a(href="#/") Home
        li
          a(href="#/auction") Auction
        li
          a(href="#/admin/scoreboard") Scoreboard
        li
          a(href="#/admin/scoreboard-controller") Scoreboard Controller
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#/login") Login
        li
          a(href="#/logout") Logout
